QPushButton#send_button
{
	border: none;
	width: 40dip;
	height: 40dip;
	border-image: url(:/resources/input_widget/contr_send_100.png);
	margin-left: 0;
	margin-top: 0;
	margin-right: 24dip;
	margin-bottom: 0;
	padding: 0dip;
}

QPushButton#send_button:hover
{
	border-image: url(:/resources/input_widget/contr_send_100_hover.png);
}

QPushButton#send_button:hover:pressed
{
	border-image: url(:/resources/input_widget/contr_send_100_active.png);
}

QPushButton#send_button:disabled
{
	border-image: url(:/resources/input_widget/contr_send_100_disable.png);
}

QPushButton#smiles_button
{
	border: none;
	width: 24dip;
	height: 24dip;
	border-image: url(:/resources/input_widget/contr_smile_100.png);
	margin-left: 22dip;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0dip;
}

QPushButton#smiles_button:hover
{
	border-image: url(:/resources/input_widget/contr_smile_100_hover.png);
}

QPushButton#smiles_button:hover:pressed
{
	border-image: url(:/resources/input_widget/contr_smile_100_active.png);
}


QPushButton#file_button
{
	border: none;
	width: 24dip;
	height: 24dip;
	border-image: url(:/resources/input_widget/contr_attachfiles_100.png);
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0dip;
}

QPushButton#file_button:hover
{
	border-image: url(:/resources/input_widget/contr_attachfiles_100_hover.png);
}

QPushButton#file_button:hover:pressed
{
	border-image: url(:/resources/input_widget/contr_attachfiles_100_active.png);
}


Ui--InputWidget
{
	background: #ebebeb;
	padding: 0;
	margin: 0;
	border-top-color: #dadada;
	border-top-width: 1dip;
	border-top-style: solid;
}

Ui--TextEditEx
{
	font-family: %FONT_FAMILY%;
	font-weight: %FONT_WEIGHT%;
	background: #fafafa;
	border-radius: 8dip;
	border-color: #d7d7d7;
	border-width: 1dip;
	border-style: solid;
	margin-top: 8dip;
	margin-bottom: 8dip;
	margin-left: 16dip;
	margin-right: 16dip;
		
	padding-left: 15dip;
	padding-left: 15dip;
	padding-top: 12dip;
	padding-bottom: 10dip;

}

Ui--TextEditEx:focus
{
	border-color: #579e1c;
}

