QPushButton#send_button
{
	border: none;
	width: 32dip;
	height: 32dip;
	border-image: url(:/resources/input_widget/send_100.png);
	margin-left: 0;
	margin-top: 0;
	margin-right: 16dip;
	margin-bottom: 0;
	padding: 0dip;
}

QPushButton#send_button:hover
{
	border-image: url(:/resources/input_widget/send_100_hover.png);
}

QPushButton#send_button:hover:pressed
{
	border-image: url(:/resources/input_widget/send_100_pressed.png);
}

QPushButton#send_button:disabled
{
	border-image: url(:/resources/input_widget/send_100_disable.png);
}

QPushButton#send_button:focus
{
	border: none;
	outline: none;
}

QPushButton#smiles_button
{
	border: none;
	width: 32dip;
	height: 32dip;
	border-image: url(:/resources/input_widget/smile_100.png);
	margin-left: 16dip;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0dip;
}

QPushButton#smiles_button:hover
{
	border-image: url(:/resources/input_widget/smile_100_hover.png);
}

QPushButton#smiles_button:hover:pressed
{
	border-image: url(:/resources/input_widget/smile_100_active.png);
}

QPushButton#smiles_button:focus
{
	border: none;
	outline: none;
}

QPushButton#cancel_files
{
	border: none;
	width: 20dip;
	height: 20dip;
	border-image: url(:/resources/i_history_100.png);
	margin-left: 16dip;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0dip;
}

QPushButton#cancel_files:focus
{
	border: none;
	outline: none;
}

QPushButton#cancel_quote
{
	border: none;
	width: 20dip;
	height: 20dip;
	border-image: url(:/resources/i_history_100.png);
	margin-right: 0dip;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0dip;
}

QPushButton#cancel_quote:focus
{
	border: none;
	outline: none;
}

QPushButton#file_button
{
	border: none;
	width: 24dip;
	height: 24dip;
	border-image: url(:/resources/input_widget/attachfiles_100.png);
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0dip;
}

QPushButton#file_button:hover
{
	border-image: url(:/resources/input_widget/attachfiles_100_hover.png);
}

QPushButton#file_button:hover:pressed
{
	border-image: url(:/resources/input_widget/attachfiles_100_active.png);
}

QPushButton#file_button:focus
{
	border: none;
	outline: none;
}

Ui--InputWidget#input_edit_control
{
	background: #ffffff;
	padding: 0;
	margin: 0;
	border-top-color: #d7d7d7;
	border-top-width: 1dip;
	border-top-style: solid;
}

Ui--TextEditEx#input_edit_control
{
	background: #ffffff;
	border-radius: 8dip;
	border-color: #d7d7d7;
	border-width: 1dip;
	border-style: solid;
	margin-top: 12dip;
	margin-bottom: 12dip;
	margin-left: 16dip;
	margin-right: 16dip;
		
	padding-left: 16dip;
    padding-top: 6dip;
}

Ui--TextEditEx#input_edit_control:focus
{
	border-color: #579e1c;
}