QPushButton#backButton
{
    height: 40dip;
	width: 40dip;
    border: none;
    border-image: url(:/resources/basic_elements/contr_back_100.png);
}
QPushButton#backButton:hover
{
    border-image: url(:/resources/basic_elements/contr_back_100_hover.png);
}