Ui--LiveChatProfile
{
	background: #ffffff;
	padding: 0;
	margin: 0;
}

QLabel#LiveChatMembersCount
{
	font-family: %FONT_FAMILY%;
	font-weight: %FONT_WEIGHT%;
	font-size: 12dip;
	color: #696969;
}

